.header {
    width: 100%;
    &_inner {
        width: 100%;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            font-size: 32px;
            font-weight: 600;
            color:#000;
            &:hover,&:active{
                color:#000;
            }
        }
    }
    &_search{
        border:1px solid blue;
        padding:0 10px;
        border-radius: 4px;
    }
}