.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &_inner {
        width: 400px;
        padding: 40px;
        border-radius: 20px;
        background-color: #fff;
    }
    &_input_block{
        margin-bottom: 20px;
    }
    &_btn {
        width: 100%;
        margin-bottom: 20px;
    }

    &_link {
        width: 100%;
        text-align: center;
        a{
            font-size: 18px;
        }
    }
}